<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add  name="DefaultConnection"
              connectionString="Host=172.10.10.5;Username=postgres;Password=Act1v31t3k;Database=postgres"
              providerName="Npgsql"/>
	</connectionStrings>
	<appSettings>
		<add key="ImageServerPath" value="Y:\AIS\William Lovell\InventoryImages" />
	</appSettings>
</configuration>
