<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add  name="DefaultConnection"
              connectionString="Host=localhost;Username=postgres;Password=admin;Database=postgres"
              providerName="Npgsql"/>
	</connectionStrings>
	<appSettings>
		<add key="ImageServerPath" value="H:\desktop\test" />
	</appSettings>
</configuration>
